* {transition:transform 0.2s;}
body nav *:hover:not(:active),body main *:hover:not(:active) {transform:scale(1.1);}
html,body {
padding:0px; margin:0px; width:256px; height:256px; border-radius:0px 0px 4px 4px; overflow:hidden;
cursor:url('/images/cursor.png') 8 8, auto;
}
body {
background: no-repeat linear-gradient(-135deg, #057bee 0%, #35b3cd 100%); align-items:center;
box-shadow: inset 0px 0px 64px 2px #47dcfb;font-family:monospace; display:flex; flex-direction:column;
}
#logo {
content:''; width:32px; height:32px; background: no-repeat center/100% url('/images/icon64.png') transparent;
display:inline-block;
}
#title {margin:0px; margin-left:4px; transition:transform 0.7s;}
#title:hover {transform:rotateY(360deg);}
nav {
width:100%;height:fit-content;position:relative;left:0px;top:0px;
display:flex;background-color:#1e4876;color:#deefff;
justify-content:flex-start; align-items:center; flex-direction:row; flex-wrap:wrap;
box-shadow:0px -24px 32px 16px #000000;
}
nav>*:not(:first-child) {margin-left:8px;}
#favi {width:16px; height:16px; display:none; border:dashed 1px #ffffff;}
#favi[src=""],#favi[src="undefined"] {background-image:url('images/no_favi.png'); border-color:#ff5678; border-style:dotted;}
#opts {margin-left:auto;margin-right:5px;}
main {
display:flex; flex-direction:column; flex-wrap:nowrap; align-content:center;
justify-content:flex-start; align-items:center; width:70%; height:100%; margin:16px 8px 24px;
box-shadow:0px 0px 12px -2px #eeffff63;  background-color:#eeffff63; border-radius:16px; padding:24px 8px;
}
label[for] {font-size:2em;text-shadow:-1px 0px 3px #eeffff;}
input[type="checkbox"] {width:24px; height:24px; display:inline;}
i {font-size:1.6em;}
p {font-size:1.2em;} p:hover {transform:none !important;}